<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
  
</head>
<body>
    <h1>User Page</h1>
    <div id="driverLocation"></div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        
    
            const socket = io();

        socket.on('driverLocationUpdate', ({ latitude, longitude }) => {
            document.getElementById('driverLocation').innerText = `Driver Location: Latitude ${latitude}, Longitude ${longitude}`;
        });
        
        
        
      //  setInterval(locationgetting,5000);



        
    </script>
</body>
</html>
