<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver Location Page</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Driver Location Page</h1>
    <button onclick="getLocation()">Get Location</button>
    <p id="location"></p>

    <script src="/socket.io/socket.io.js"></script>
    <script>

      
        const socket = io();

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(sendLocation);
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }

        function sendLocation(position) {
            const latitude = position.coords.latitude;
            const longitude = position.coords.longitude;

            socket.emit('updateLocation', latitude, longitude);

            document.getElementById('location').innerText = `Latitude: ${latitude}, Longitude: ${longitude}`;
        }
    </script>
</body>
</html>
