<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver Signup</title>
</head>
<body>
    <h1>Driver Signup</h1>
    <form action="/driversignup" method="post">
        <label>License</label>
        <input type="text" required name="license" />
        <label>Bus Number</label>
        <input type="number" required name="Bus" />
        <button type="submit">Signup</button>
    </form>
</body>
</html>
